[project]
name = "crypto-pandas"
version = "0.1.1"
description = "Library to facilitate working with Pandas and REST APIs."
authors = [
    {name = "lucas", email = "lucas.jamar@carpentrix.com"}
]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "pandas (>=2.2.3,<3.0.0)",
    "pandera (>=0.22.1,<0.23.0)",
    "pydantic (>=2.10.5,<3.0.0)",
    "pydantic-extra-types (>=2.10.1,<3.0.0)",
]

[project.urls]
homepage = "https://github.com/lucasjamar/crypto-pandas"
repository = "https://github.com/lucasjamar/crypto-pandas"
documentation = "https://github.com/lucasjamar/crypto-pandas"

[tool.poetry]
exclude = ["binder/*", "examples/*", "tests/*"]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
